.summary {
    text-align: center;
    max-width: 65rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #bc6a6ad2;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .summary input{
    margin-right: 1rem;
    border-radius: 0.3rem;
    border-color: #bc6a6a8d;
  }

  .summary button {
    margin-top: 1rem;
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }

  .summary button:hover{
    background-color: #641e03;
    border-color: #641e03;
  }

  .summary :hover{
    border-color: black;
  }
  